/* form{
    background-color: yellow;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

table{
    width: 90%;
    margin: auto;
}

input{
    padding: 5px;
    margin: 5px;
} */
